{
  "tabWidth": 2,
  "printWidth": 1000,
  "useTabs": false,
  "prettier.htmlWhitespaceSensitivity": "bracketSameLine",
  "bracketSameLine": true,
  "jsxBracketSameLine": true,
  "singleAttributePerLine": false,
  "proseWrap": "never"
}
